.gpt3__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gpt3__brand div {
    flex: 1;
    max-width: 120px;
    margin: 0 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:400px) {
    
    .gpt3__brand img{
        max-width: 3rem;
    }
    .gpt3__brand div{
        margin: 0 0.5rem;
    }
}
