@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


:root {
    --font-family: 'Manrope', sans-serif;

    /* --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #f49867 102.67%); */
    --gradient-text: linear-gradient(89.97deg, #272D72 1.84%, #98A0FD 102.67%);
    --gradient-text1:linear-gradient(90deg, rgba(250, 140, 64, 1) 0%, rgba(227, 61, 43, 1) 100%);
    --gradient-bar1: linear-gradient(103.22deg, #272D72 1.84%, #98A0FD 99.55%);
    --gradient-bar: linear-gradient(103.22deg,#AE67FA -13.86%, #f49867 99.55%);

    --color-bg: #272d72;
    --color-footer: #272d72;
    --color-blog: #042c54;
    --color-text: #81afdd;
    --color-subtext: #ff8a71;


}